<h1> All Artists in Database</h1>

<p>  <%=link_to "order by name a-z", :sort => "name ASC" %></p>
<p>  <%=link_to "order by name z-a", :sort => "name DESC" %></p>

<hr>
<div>
  <% @artists.each do |artist| %>
      <% artist.photos.each do |photo| %>
      <%= image_tag photo.image %>
      <p><%= link_to "#{artist.name}", artist_path(artist.id) %></p>
      <%= link_to "[Delete]", artist_path( artist.id ), method: :delete, data: { confirm: "Are you sure?" } %>

      <%end %>

  <% end %>

</div>
