<h2><%= @artist.name %></h2>

 <%= render 'songs/form' %>


<hr>

<% @songs.each do |song| %>
  <% if song.artist[:id] == @artist[:id] %>
      <p><%= song.title %></p>
      <p><%= link_to "[Delete]", artist_song_path( @artist, song ), method: :delete, data: { confirm: "Are you sure?" } %></p>
  <%end%>
<%end%>


<%= link_to "[TERUG]", artists_path%>
